In [1]:
print('you see an apple seller')
q = input('do you like apple?')
if q== 'yes' :
    print('purchese 2kg apple')
if q== 'no'  :
    print('you dont purchase apples')

you see an apple seller
purchese 2kg apple

In [2]:
x = 10
if x>5:
    print('x is greater than 5')
    print('this is the info we needed')
    print('with this power , comes great responsibility')
print('the end')

x is greater than 5
this is the info we needed
with this power , comes great responsibility
the end

In [3]:
temp =float(input('what is the temperature?'))
if temp >70:
    print('wear shorts')
else:
    print('wear long pants.')
print('get some exercise outside.')

wear long pants.
get some exercise outside.

#wap to cal the total bill of customer, gst is 5% . if the amount is less than 500 then give discount of 10%, else give discount of 20%.

In [5]:
amt=2000
gst=amt*0.05
total=amt+gst
if total<500:
    dis=total*0.1
    final=total-dis
    print(final)
else:
    dis=total*0.2
    final=total-dis
    print(final)

1680.0

In [8]:
amt=float(input('enter amount'))
gst=amt*.05
total=amt+gst
if total<500:
    dis=total*0.1
    final=total-dis
    print(final)
else:
    dis=total*0.2
    final=total-dis
    print(final)

283.5

In [9]:
score=int(input('your score ->'))
if score >= 90:
    letter ='A'
elif score >= 80:
    letter ='B'
elif score >=70:
    letter ='c'
elif score >=60:
    letter ='d'
else:
    letter='f'
print(letter)

c

In [10]:
# oneif 43 in range(100): print('42')

42

In [11]:
x='Alice'if'joy'in'My name is jonas'else'Bob'
print(x)

Bob

In [12]:
print('42')if 42 in [22,33,42]else print('21')

42

In [13]:
x=20
if x>10:
    print('yes')
else:
    print('no')

yes

In [14]:
print('yes')if x<10 else print('no')

no