In [10]:
x = 'python'
for i in x:
    print(i)

p
y
t
h
o
n

In [11]:
story = 'onces '
for char in story:
    print(char)

o
n
c
e
s

In [12]:
names =  ['Alice','Bob','Charliee','David','Eve','Frank']
for name in names:
    print(name, len(name))

Alice 5
Bob 3
Charliee 8
David 5
Eve 3
Frank 5

In [13]:
fruit = ['apple','banana','lemon']
for item in fruit:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [14]:
for i in range(6):
    print('you got number',i)

you got number 0
you got number 1
you got number 2
you got number 3
you got number 4
you got number 5

In [15]:
for i in range(1,10,4):
    print('level',i)

level 1
level 5
level 9

In [16]:
for i in range(2,11):
    print('sheep',i)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [17]:
# Reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [18]:
#pattern loop
for i in range(1,10,):
    print(i*'na')

na
nana
nanana
nananana
nanananana
nananananana
nanananananana
nananananananana
nanananananananana

In [19]:
for i in range(10,1,-1):
    print(i*'na')

nananananananananana
nanananananananana
nananananananana
nanananananana
nananananana
nanananana
nananana
nanana
nana

In [20]:
y=0
for i in range (1,51):
    y+=i

print(y)

1275

In [21]:
x = 0
for i in range (3,100,3):
    x+=i
print(x)

1683

wap to the sum of number which are divisble by 3 range 1 to 100

In [22]:
total =0
for i in range(1,100):
    if i%3==0:
        total+=i
print(total)

1683

In [23]:
y=0
for i in range (1,100):
    y=y+i 
print(y/99)

50.0

WAP to calculate the average(mean) of all number from 1 to 100

In [24]:
total =0
for i in range (1,100):
    total+=i
    avg=total/99
print(avg)

50.0

In [25]:
total =0
for i in range (1,100):
    total+=i
print(total/99)

50.0

In [26]:
x = 1
while x < 8:
    print('sum')
    x +=1
print('stop')

sum
sum
sum
sum
sum
sum
sum
stop

In [27]:
n =30
sum = 0
i=1
while i <= n:
    sum = sum +i
    i=i+1
print('the sum is',sum)

the sum is 465

Break

In [28]:
data = [1,2,3,4,5,6,-3,5,6,7,8]
for val in data:
    if val < 0:
        break
    print(val,end='')

123456

In [29]:
for i in range (1,100):
    print (i)
    if i%9 == 0:
        break

1
2
3
4
5
6
7
8
9

In [32]:
size = 100
start = 1
while start <= size:
    name = input('enter a name of product')
    if name =='end':
        break
    print(f'you enter {name}')
    start+=2
print('the end')

you enter laptop
you enter charger
you enter mobile
you enter phone
the end

In [36]:
student = ['rahul','','rohan','sohan','','suman']
print(len(student))

6

In [38]:
for t in student:
    print(f'i know {t}')

i know rahul
i know
i know rohan
i know sohan
i know
i know suman

In [40]:
for t in student:
    if t == "":
        continue
    print(f' I know {t}')

 I know rahul
 I know rohan
 I know sohan
 I know suman

In [45]:
for t in student:
    if len(t) > 0:
        print(f' I know {t}')

 I know rahul
 I know rohan
 I know sohan
 I know suman

In [49]:
story = ''
while True:
    line = input('enter a line')
    if line == 'end':
        break
    else:
        story += line +'\n'
        print('you have written')
        print(story)

you have written
once upon a time  there was a man who's name was billy

you have written
once upon a time  there was a man who's name was billy
and he has beautiful house

you have written
once upon a time  there was a man who's name was billy
and he has beautiful house
ther sdf

In [47]:
fruits = ['apple','banana','mango']
for fruit in fruits:
    print('we have',fruit)
else:
    print('thats all')

we have apple
we have banana
we have mango
thats all

In [7]:
number = int(input('enter a number'))
for i in range (2,number):
    if number % i == 0:
        print(f'{number} is not a prime number')
        break
else:
    print()

4 is not a prime number

## WAP to add all numbers of the digit using while loop

In [59]:
l =int(input('enter a number'))
sum = 0
num=1
while num<=l:
    sum+=num
    num+=1
print(sum)

55

##WAP to add all numbers of the digit using while loop

In [75]:
i=int(input('enter the number'))
sum = 0
while (i>0):
    sum=sum+i%10
    i=i//10
print(sum)

14

#Enumerate

In [1]:
names = ['Alice','Bob','Charlie','David','Eve']
for name in names :
    print(name)

Alice
Bob
Charlie
David
Eve

In [2]:
for i,name in enumerate(names):
    print(i,name)

0 Alice
1 Bob
2 Charlie
3 David
4 Eve

In [1]:
##from string import ascii_lowercase

In [6]:
from string import ascii_letters

In [3]:
##from string import ascii_uppercase

In [7]:
print(ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [8]:
for p,i in enumerate(ascii_letters):
    print(i)
    if p==10:
        break

a
b
c
d
e
f
g
h
i
j
k

In [4]:
fruit = ['apple','banana','cherry','date']
prices = [100.00,40.00,150.00,200.00]

In [6]:
for fr,pr in zip(fruit,prices):
    print(f'{fr} costs{pr}')

apple costs100.0
banana costs40.0
cherry costs150.0
date costs200.0

In [7]:
fruit = ['apple','banana','cherry','date']
prices = [100.00,40.00,150.00,200.00]
qty = [12,15,100,50,3]

In [8]:
for fr,pr,qt in zip(fruit,prices,qty):
    print(f'{fr} costs{pr} qty{qt}')

apple costs100.0 qty12
banana costs40.0 qty15
cherry costs150.0 qty100
date costs200.0 qty50