In [1]:
my_set = set ([1,2,3,2])
print(my_set)

{1, 2, 3}

In [3]:
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [4]:
my_set = {1,2,[3,4]}

TypeError: unhashable type: 'list'

In [5]:
frds = {'ramu','samu','lallan','sallan','kallan'}
print(frds)

{'kallan', 'samu', 'sallan', 'lallan', 'ramu'}

In [6]:
a = set()
print(type(a))

<class 'set'>

In [7]:
my_set = {1,3}
print(my_set)

{1, 3}

In [8]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [9]:
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [10]:
my_set.update([4,5],[1,6,8])
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [11]:
my_set = {1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [12]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [13]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [14]:
my_set.pop()
print(my_set)

{3, 5}

In [15]:
my_set.clear()
print(my_set)

set()

In [16]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [17]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
print(A&B)

{4, 5}

In [21]:
A.intersection(B)

{4, 5}

In [22]:
B.intersection(A)

{4, 5}

In [23]:
print(A-B)# unice value of A

{1, 2, 3}

In [24]:
A.difference(B)

{1, 2, 3}

In [25]:
B-A ## unice value of B

{6, 7, 8}

In [27]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [28]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [29]:
a = {'fan','cooler','bulbe','tv','refigerater'}
b = {'ac','mixer','bulbe','tv','phone'}

ACTIVITY

In [30]:
a|b

{'ac', 'bulbe', 'cooler', 'fan', 'mixer', 'phone', 'refigerater', 'tv'}

In [31]:
a&b

{'bulbe', 'tv'}

In [32]:
a^b

{'ac', 'cooler', 'fan', 'mixer', 'phone', 'refigerater'}

In [33]:
a-b

{'cooler', 'fan', 'refigerater'}

In [34]:
b-a

{'ac', 'mixer', 'phone'}

In [ ]:
books = set()

In [35]:
x = {1,2,3,4} #set to list
x1 = list(x)
print(x,x1)

{1, 2, 3, 4} [1, 2, 3, 4]

In [36]:
x1 = tuple(x) #set to tuple
print(x,x1)

{1, 2, 3, 4} (1, 2, 3, 4)

In [37]:
dx = [1,2,3,1,2,3,4,5,1,2,4] ## list to set
ds = set(dx)
print(dx,ds)

[1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 4] {1, 2, 3, 4, 5}

Dictonary

In [40]:
info_dict ={'name':'narendra','sub':'artificial intelligence','age':"40",'marrid':'true','is student':'false','id':'18'}

In [42]:
info_dict['age']

'40'

In [43]:
my_dict = {'name':'jack','age':'26'}

In [44]:
my_dict['name']

'jack'

In [45]:
my_dict.get('age')

'26'

In [46]:
my_dict['address']

KeyError: 'address'

In [48]:
my_dict.get('address')

In [49]:
my_dict['age'] = 27

In [51]:
my_dict

{'name': 'jack', 'age': 27}

In [52]:
my_dict['address'] = 'downtown'

In [53]:
my_dict

{'name': 'jack', 'age': 27, 'address': 'downtown'}

In [54]:
x = {1:1,2:4,3:9,4:16,5:25}

In [55]:
x.pop(4)

16

In [57]:
x

{1: 1, 2: 4, 3: 9}

In [56]:
x.popitem() #remove an orbitrary item , return(key,value) o/p=(5,25)

(5, 25)

In [58]:
x.clear() #remove varible value

In [59]:
del x # remove variable